<footer>
    <div class="footer-container">
        <p>© 2024 Karim Shady. All rights reserved.</p>
        <div class="social-links">
            <!-- Replace "#" with your actual profile links -->
            <a href="https://www.linkedin.com/in/karimshady1/" target="_blank" class="social-icon">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Karimshady81" target="_blank" class="social-icon">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.instagram.com/karim_shady/" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <!-- Add more icons as needed -->
        </div>
    </div>
</footer>
